* {
  margin: 0;
}

.border {
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 10px;
  margin: 3px 0;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.width-60 {
  width: 60%;
}

button {
  border-radius: 8px;
  margin-left: 10px;
  margin-bottom: 2px;
}

.column {
  flex-direction: column;
}
